@font-face {
    font-family: 'DongwhacaekR';
    src: url('TTDongwhacaekR.woff2') format('woff2'),
        url('TTDongwhacaekR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

